################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyEasyConnect/bin
*.dll
*.pdb
